*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: sans-serif;

}

body{
  background: #6d8fc2;

}
a{
  text-decoration: none;
  color:inherit;
  line-height:1 ;
  cursor: pointer;
}
.container{
  width: 100vx;
  min-height: 100vh;
  background: #6d8fc2;

}

