.menu {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column
}

.menu-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 30px; 
  
  text-align: center;
}

.menu-text h1 {

  font-family: serif;
  font-size: 60px;
  font-weight: 600;
  color: #000000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
               -2px -2px 5px rgba(255, 255, 255, 0.3);
  margin-top: 200px; 
  margin-bottom: 110px; 
  text-align: center;


}


.menu-headers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: center;
}

.menu-sections-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
}

.menu-section {
  flex: 1;
  margin: 0 10px;
}

.menu-text .subtitle {
  font-weight: bold;
  font-size: 24px; 
  margin-bottom: 10px; 
  border-bottom: 2px solid #000; 
  padding-bottom: 5px; 

  font-family: serif;
}

.text {
  position: relative;
  text-align: left; 
  margin-left: 20px; 
}

.text-1 {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  font-size: 24px; 
  margin-bottom: 10px;
  margin-top: 375px;
  font-family: serif;
}

.arasicak-buttons,
.menu-items,
.beverages-buttons {
  list-style-type: disc; 
  padding-left: 20px; 
  margin: 0;
}

.arasicak-buttons li,
.menu-items li,
.beverages-buttons li {
  cursor: pointer;
  padding: 10px 20px; 
  margin-bottom: 10px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #4f6e85; 
  transition: background-color 0.3s, transform 0.2s;
  display: block; 
  text-align: center; 
  width: max-content;
  font-family: serif;
}

.arasicak-buttons li:hover,
.menu-items li:hover,
.beverages-buttons li:hover {
  background-color: #f0f0f0; 
  transform: scale(1.02); 
}

.image-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  cursor: pointer;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 8px;
}

.image-container img {
  max-width: 90%;
  max-height: 90vh;
  height: auto;
  border-radius: 8px;
}

.beverages-title {
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  font-size: 24px; 
  margin-bottom: 10px;
  margin-top: 380px;
font-family: serif;
  
}

.beverages-buttons {
  list-style-type: disc; 
  padding-left: 20px; 
  margin: 0; 
  margin-top: 10px;

  
}

.beverages-buttons li {
  cursor: pointer;
  margin-bottom: 10px; 
  font-size: 18px;
  color: #333;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 10px 20px;
  background-color: #4f6e85; 
  display: block;
  text-align: center; 
  transition: background-color 0.3s, transform 0.2s;
  width: fit-content; 
  margin-left: auto; 
  margin-right: auto; 
  font-family: serif;
  color: #000000;

  
}

.beverages-buttons li:hover {
  background-color: #e0e0e0; 
  transform: scale(1.02); 
  
}
