.Navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background: #f0f0f0;


    padding: 16px 7%;
}

.logo15{
    width: 200px;
    cursor: pointer;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px ;
    cursor: pointer;
}
.search-box{

    background:#89aebb;
    color: #212121;
    padding: 14px 25px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border:0;
    outline: 0;

    
}
.text{
    color:#89aebb
}
