
.slider-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
   
  }
  
  .slider {
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 110%;
    gap: 110px;
    
  }
  
  .slide {
    min-width: 25%;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);   
    
    
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }



.program{

    
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    margin: 0; 
    padding: 0; 
    z-index: -1; 


}

.slider-footer {

  text-align: center;
  font-size: 30px;
  padding: 5px;
  color: #1b1a1a;
  margin-top: 70px;
  margin-bottom: 10px;
  font-family: serif;
 
}


.slider-footer p{
  font-family: serif;
  font-weight: bold;

  
}
